<%- include('header'); -%>
<h1><%= title %></h1>
<div class="container-fluid" ng-controller="playController">
    <h2>Au tour de {{ config.playerTurn.username }}</h2>
    <div class="row">
        <div class="col-xl-7 md-4">
            <div class="row text-center">
                <div class="col-2">
                    <h4 class="font-weight-bold">Golden Nugget</h4>
                </div>
                <div class="col-2">
                    <h4 class="font-weight-bold">Caesar's Palace</h4>
                </div>
                <div class="col-2">
                    <h4 class="font-weight-bold">The Mirage</h4>
                </div>
                <div class="col-2">
                    <h4 class="font-weight-bold">Sahara</h4>
                </div>
                <div class="col-2">
                    <h4 class="font-weight-bold">Luxor</h4>
                </div>
                <div class="col-2">
                    <h4 class="font-weight-bold">Circus Circus</h4>
                </div>
            </div>

            <div class="row dices-container">
                <div ng-if="canPlace(1)" jqyoui-droppable="{multiple: true, beforeDrop: 'beforeDrop(1)'}" data-drop="true" ng-click="putAll(1)" ng-model="config.columns[0].dices" class="col-2 dices-subcontainer-hover">
                    <div ng-repeat="column in config.columns[0].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[0].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/One.png" alt="Golden Nugget" width="100%">
                </div><div ng-if="!canPlace(1)" jqyoui-droppable="{multiple: true, beforeDrop: 'beforeDrop(1)'}" data-drop="true" ng-model="config.columns[0].dices" class="col-2 dices-subcontainer">
                    <div ng-repeat="column in config.columns[0].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[0].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/One.png" alt="Golden Nugget" width="100%">
                </div>
                <div ng-if="canPlace(2)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(2)'}" data-drop="true" ng-click="putAll(2)" ng-model="config.columns[1].dices" class="col-2 dices-subcontainer-hover">
                    <div ng-repeat="column in config.columns[1].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[1].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Two.png" alt="Caesar's Palace" width="100%">
                </div>
                <div ng-if="!canPlace(2)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(2)'}" data-drop="true" ng-model="config.columns[1].dices" class="col-2 dices-subcontainer">
                    <div ng-repeat="column in config.columns[1].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[1].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Two.png" alt="Caesar's Palace" width="100%">
                </div>
                <div ng-if="canPlace(3)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(3)'}" data-drop="true" ng-click="putAll(3)" ng-model="config.columns[2].dices" class="col-2 dices-subcontainer-hover">
                    <div ng-repeat="column in config.columns[2].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[2].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Three.png" alt="The Mirage" width="100%">
                </div>
                <div ng-if="!canPlace(3)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(3)'}" data-drop="true" ng-model="config.columns[2].dices" class="col-2 dices-subcontainer">
                    <div ng-repeat="column in config.columns[2].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[2].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Three.png" alt="The Mirage" width="100%">
                </div>
                <div ng-if="canPlace(4)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(4)'}" data-drop="true" ng-click="putAll(4)" ng-model="config.columns[3].dices" class="col-2 dices-subcontainer-hover">
                    <div ng-repeat="column in config.columns[3].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[3].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Four.png" alt="Sahara" width="100%">
                </div>
                <div ng-if="!canPlace(4)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(4)'}" data-drop="true" ng-model="config.columns[3].dices" class="col-2 dices-subcontainer">
                    <div ng-repeat="column in config.columns[3].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[3].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Four.png" alt="Sahara" width="100%">
                </div>
                <div ng-if="canPlace(5)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(5)'}" data-drop="true" ng-click="putAll(5)" ng-model="config.columns[4].dices" class="col-2 dices-subcontainer-hover">
                    <div ng-repeat="column in config.columns[4].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[4].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Five.png" alt="Luxor" width="100%">
                </div>
                <div ng-if="!canPlace(5)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(5)'}" data-drop="true" ng-model="config.columns[4].dices" class="col-2 dices-subcontainer">
                    <div ng-repeat="column in config.columns[4].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[4].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Five.png" alt="Luxor" width="100%">
                </div>
                <div ng-if="canPlace(6)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(6)'}" data-drop="true" ng-click="putAll(6)" ng-model="config.columns[5].dices" class="col-2 dices-subcontainer-hover">
                    <div ng-repeat="column in config.columns[5].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[5].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Six.png" alt="Circus Circus" width="100%">
                </div>
                <div ng-if="!canPlace(6)"  jqyoui-droppable="{multiple:true, beforeDrop: 'beforeDrop(6)'}" data-drop="true" ng-model="config.columns[5].dices" class="col-2 dices-subcontainer">
                    <div ng-repeat="column in config.columns[5].cartes track by $index" class="row cash">
                        <div class="col-12 top-{{$index*6}}">
                            <img ng-src="/images/Card/{{ column }}.png" alt="{{ column }}€" class="img-cash">
                        </div>
                    </div>
                    <div class="row dices">
                        <div ng-repeat="row in config.columns[5].dices" class="{{ row.doubleDice ? 'col-4' : 'col-3' }}">
                            <img ng-src="/images/Dice/{{ row.color }}/{{ row.dice }}.png" alt="Dé numéro {{ row.dice }}" width="{{row.doubleDice ? '40px' : '30px'}}">
                        </div>
                    </div>
                    <img ng-src="/images/Column/Six.png" alt="Circus Circus" width="100%">
                </div>
            </div>
        </div>

        <div class="col-7 col-md-4 col-xl-2">
            <div class="row">
                <div class="col-12">
                    <div class="row p-3 mb-1 rounded" ng-repeat="userData in config.users">
                        <div class="col-12">{{ userData.user.username }}</div>
                        <div class="col-12">
                            <div class="row">
                                <div class="{{ d.doubleDice ? 'col-3' : 'col-2' }} mb-1" data-drag="true" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid'}" ng-repeat="d in userData.des">
                                    <img class="pr-2" data-drag="true" jqyoui-draggable="{animate: true, onStart: 'onStart(d)'}" ng-model="d" ng-if="d.dice" data-jqyoui-options="{revert: 'invalid'}" ng-src="/images/Dice/{{ d.color }}/{{ d.dice }}.png" alt="Dé numéro {{ d.dice }}" width="{{d.doubleDice ? '60px' : '40px'}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 col-md-8 col-xl-3">ça c'est les logs</div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body text-center">
        <b>Etes-vous sûr ?</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Oui</button>
        <button class="btn btn-warning" ng-click="cancel()">Non</button>
    </div>
</script>
<%- include('footer'); -%>