body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin-top 60px !important

a
  color: #00B7FF

button:focus
  outline 0

.navbar .dropdown-menu .form-control
  width 200px
