body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin-top 60px !important

.navbar .dropdown-menu .form-control
  width 200px

.game-title
  text-align center

.game-button
  display none

.game-image:hover + .game-button, .game-button:hover
  display inline-block
  position absolute
  top 80%
  left 50%
  transform translate(-50%, -50%)
  text-align center
  width 200px

h4
  font-size calc(1.2rem + .4vw)

.dices
  position absolute
  left 10%
  top 75%
  padding-right 30px

div[class*='dices-subcontainer']
  margin 0
  padding 0
  width 100%

.dices-subcontainer-hover
  transition all 0.3s ease-in-out

.dices-subcontainer-hover::after
  content ''
  box-shadow 0 0 14px rgba(0,0,0,0.7)
  opacity 0
  transition opacity 0.3s ease-in-out
  position absolute
  width 100%
  height 100%
  z-index 2
  left 0
  top 0

.dices-subcontainer-hover:hover
  transform scale(1.02,1.02)

.dices-subcontainer-hover:hover::after
  opacity 1
  z-index 1

div[back-img]
  width 50vw
  height 60vh

.fade.in
  opacity 1

.modal-backdrop.in
  opacity 0.5

.modal
  top 40%

.cash
  position absolute
  left 50%
  top 1%
  transform translate(-38%,0)

.las-vegas-cash-col
  position relative

.top-0
  margin-top 0

.top-6
  margin-top 30%

.top-12
  margin-top 60%

.top-18
  margin-top 90%

.top-24
  margin-top 120%

.top-30
  margin-top 150%

.top-36
  margin-top 180%

@media screen and (max-width: 800px)
  .img-cash
    width 125%