body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin-top 60px !important

.navbar .dropdown-menu .form-control
  width 200px

.game-title
  text-align center

.game-button
  display none

.game-image:hover + .game-button, .game-button:hover
  display inline-block
  position absolute
  top 80%
  left 50%
  transform translate(-50%, -50%)
  text-align center
  width 200px

h4
  font-size calc(1.2rem + .4vw)